In [1]:
#1: write a code to create string with your name and print
string1 = "Balwant"
string1

'Balwant'

In [2]:
#2: write code to print length of string
string1 = "Balwant"
print(len(string1))

7

In [4]:
#3: write a code to slice the first 3 character from string "Python Programming"
string1="Python Programming"
print(string1[:3])

Pyt

In [5]:
#4 write a code to convert string "hello" to uppercase
string1="hello"
string1.upper()

'HELLO'

In [10]:
#5 write a code to replace string 'apple' to 'orange' in string 'i like apple'
string1= "i like apple"
if 'apple' in string1:
    string1= string1.replace('apple','orange')
    print( string1)

i like orange

In [ ]:
#6  write a code to create list with numbers 1 to 5 and print it
print(list(range(1, 6)))

[1, 2, 3, 4, 5]

In [18]:
#7  write a code to append number 10 to list [1,2,3,4]
n=10
lst=[1,2,3,4]
lst.append(n)
print(lst)

[1, 2, 3, 4, 10]

In [19]:
#8 write a code to remove number 3 from list  [1,2,3,4]
lst2= [1,2,3,4]
lst2.remove(3)
print(lst2)

[1, 2, 4]

In [20]:
#9 write a code to access second element in list ['a','b','c','d']
lst3=['a','b','c','d']
print(lst3[1])

b

In [21]:
#10  write a code to reverse list [10,20,30,40,50]

lst4= [10,20,30,40,50]
print(lst4[::-1])

[50, 40, 30, 20, 10]

In [32]:
#11 write a code to create a tuple with element 10,20,30 and print it
lst5=[10,20,30]

tup5=tuple(lst5)
print(tup5)

tup5_append=  tuple( [50]  + lst5)
print(tup5_append)

(10, 20, 30)
(50, 10, 20, 30)

In [34]:
#12 write a code to access first element of tuple ('apple','banana','cherry')
tup12 = ('apple','banana','cherry')
print(tup12[0])

apple

In [42]:
#13 count how many time number 2 appear in tuple (1,2,3,2,4,2)
tup13 = (1,2,3,2,4,2)
tup13.count(2)

3

In [55]:
#14  write a code to find index of element cat in the tuple ('dog', 'cat', 'rabbit')
tup14= ('dog', 'cat', 'rabbit')
tup14.index('cat')

1

In [ ]:
#15 write a code to check if element banana  is in tuple ('apple','orange','banana')
tup15=('apple','orange','banana')
'banana' in tup15

True

In [ ]:
#16 write a code to create a set with element 1,2,3,4,5 and print it

my_set = {}   # this create dictionary 
print(type(my_set))  
#definin empty set 
empty_set = set()
print(type(empty_set))
#defining set with data
my_set_data = {1, 2, 3}
print(type(my_set_data))

#Add element in set
my_set_data.add(4)
my_set_data.add(5) 
print(my_set_data)

<class 'dict'>
<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5}

In [58]:
#17 write a code to add element 6 to set {1,2,3,4}
set_17= {1,2,3,4}
set_17.add(6)
print(set_17)

{1, 2, 3, 4, 6}

In [60]:
#18  write a code to create tuple with element 10,20,30 and print it 

list_18=[]
list_18.append(10)
list_18.append(20)
list_18.append(30)

tuple_18 = tuple(list_18)
print(tuple_18)

(10, 20, 30)

In [61]:
#19 write a code to access first element of tuple ('apple','banana','cherry')
tuple_19=  ('apple','banana','cherry')
print(tuple_19[0])

apple

In [66]:
#20 write a code to find ow many times number 2 appear in list (1,2,3,2,4,2)
tuple_21 =  (1,2,3,2,4,2)
print(tuple_21.count(2))

list_21=list(tuple_21)
print(list_21.count(2))

3
3

In [72]:
#21  write a code to find index of element "cat" in the tuple ("dog","cat","rabbit")

tuple_21= ("dog","cat","rabbit")
k=0
for i in tuple_21:
    if i == "cat":
        print(k)
    k+=1

#second approach
print(tuple_21.index('cat'))

1
1

In [73]:
#22 write a code to check if "banana" is in tuple ("apple","orange","banana")
tuple_22= ("apple","orange","banana")
"banana" in tuple_22

True

In [74]:
#23 write a code to create set with element 1,2,3,4,5 and print it
empty_set=set()
empty_set.add(1)
empty_set.add(2)
empty_set.add(3)
empty_set.add(4)
empty_set.add(5)
print(empty_set)

{1, 2, 3, 4, 5}

In [75]:
#24 write code to add element 6 to set {1,2,3,4}
set_24={1,2,3,4}
set_24.add(6)
print(set_24)

{1, 2, 3, 4, 6}